#!/bin/sh

while read oldrev newrev ref; do
  if [ "$ref" = "refs/heads/master" ]; then
    unset GIT_DIR
    START_TIME=$(date +%s)
    cd /srv/docker/darkfurrow.com
    git pull
    docker compose up --build --detach
    docker system prune --force
    END_TIME=$(date +%s)
    echo "Total build time: $((END_TIME - START_TIME))s"
  fi
done
